NODE_ENV=production
PORT=3000

CORS_ORIGIN=https://flex-it.online

DB_HOST=postgres-production
DB_PORT=5432
DB_USERNAME=flexit
DB_PASSWORD=troque_esta_senha
DB_DATABASE=flexit
DB_SYNCHRONIZE=false
DB_SSL=false

JWT_SECRET=troque_por_uma_chave_longa_e_aleatoria
JWT_EXPIRES_IN=1h
