PRODUCTION_SERVER_NAME=flex-it.online
PRODUCTION_SERVER_ALIASES=www.flex-it.online
CERTBOT_EMAIL=seu-email@exemplo.com
CLIENT_MAX_BODY_SIZE=25m

BACKEND_PRODUCTION_IMAGE=ghcr.io/guilhermekelias/flex-it-backend:latest
FRONTEND_PRODUCTION_IMAGE=ghcr.io/guilhermekelias/flex-it-frontend:latest

BACKEND_PORT=3000
FRONTEND_PORT=80
