PRODUCTION_SERVER_NAME=ec2-18-225-250-255.us-east-2.compute.amazonaws.com
CLIENT_MAX_BODY_SIZE=25m

BACKEND_PRODUCTION_IMAGE=ghcr.io/guilhermekelias/flex-it-backend:latest
FRONTEND_PRODUCTION_IMAGE=ghcr.io/guilhermekelias/flex-it-frontend:latest

BACKEND_PORT=3000
FRONTEND_PORT=80
